.site-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content{
  flex: 1;
  padding: 20px;
}

.site-footer{
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(30deg, #372624, #242228);
  color: white;
}
.site-footer div{
  display: flex;
  flex-direction: column;
}
.site-footer a{
  color: white;
  text-decoration: none;
}
.site-footer a:hover{
  color: #e2ab74;
}

.content-container{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-container ul{
  list-style: none;
}
.content-container li{
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  padding-left: 25px;
  padding-right: 1rem;
}
.right-column{
  display: flex;
  flex-direction: column;
}
article a{
  color: #e2ab74;
}
article a:hover{
  color: white;
}
.top-container{
  margin-top: 75px;
  width: 75%;
  display: flex;
  justify-content: center;
}

.outer-border{
  background: linear-gradient(30deg, #372624, #e2ab74);
  border-radius: 7px;
  max-width: 85%;
  padding: 4px;
  position: relative;
  margin: 20px;
}
.inner-container{
  background: linear-gradient(30deg, #242228,#372624);
  border-radius: 7px;
  padding: 2rem;
}
.img-container{
  display: flex;
  justify-content: center;
}
.img-border{
  background: linear-gradient(30deg, #372624, #e2ab74);
  border: 1px solid #372624;
  border-radius: 50%;
  position: relative;
  margin: -100px 0px 0px;
  padding: 5px;
}
.pfp{
  height: 175px;
  border-radius: 50%;
}
.about-images{
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .center-container{
    display: flex;
    justify-content: center;
  }
}

.contact-top{
  display: flex;
  justify-content: space-between;
}